body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}

.lessonpackages {
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  text-align: center;
  background-color: #f7f7f7;
}

.packagedetails {
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  text-align: center;
}

.summary {
  font-family: 'Roboto', sans-serif;
  font-size: 125%;
  text-align: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #231F20;
  position: fixed;
  width: 100%;
  z-index: 999
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #82797b;
}

.active {
  background-color: #ff003a;
}

.buttonbooknow {
  position: absolute;
  width: 250px;
  height: 50px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  font-size: 35px;
  margin-top: 30px;
}

.buttonbooknow:hover {
  background-color: #ff003a;
  color: white;
  margin-top: 30px;
}

.hero-image {
  background-image: url("fastpass1.png");
  background-color: white;
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;
  position: relative;
  margin-top: 30px;
}

/**** divs ****/
#left-top {
  width: 33%;
  background-color: white;
  float: left;
  display: inline-block;
}

#middle-middle {
  width: 33%;
  background-color: #f7f7f7;
  display: inline-block;
}

#right-bottom {
  width: 33%;
  background-color: white;
  display: inline-block;
  float: right;
}

@media (max-width: 1200px) {
  #left-top, #middle-middle, #right-bottom {
    float: none;
    width: auto
  }
}

.maincontent {
  margin-top: 40px;
}
